body *{
    font-family:'Malgun Gothic';
}

header{
    width: 100%;
    position: relative;
    font-weight:bold;
}
/* 푸터 */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.header-link{
	text-decoration: none;
	color: black;
}

.header-link:hover{	
	text-decoration: none;
	color: #005B9F;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  background-color: #005B9F !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #497da5 !important;
}