body *,
body *:before,
body *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body .wrapper {
	width: 1140px;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 15px;
}

body .clearfix:after {
	content: " ";
	clear: both;
	display: table;
}

.slider {
	/* padding: 150px 0; */
	position: relative;
	margin-top: 2%;
}

.slider .background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: brightness(0.5);
	z-index: -1;
}

.slider>.header {
	color: #fff;
	padding: 0 15px 25px 15px;
	text-align: center;
}

.slider>.header .title {
	font-size: 50px;
	font-weight: bold;
	color:black;
}

.slider>.header .desc {
	font-size: 20px;
	padding: 15px 0;
}

.slider .swiper-container {
	padding: 30px 40px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide {
	font-size: 25px;
    background: #ededed;
    display: block;
    padding: 15px;
    width: 327px;
    height: 270px;
    border-radius: 20px;
    margin: 13px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .tag>span {
	display: inline-block;
	padding: 5px 7.5px;
	background: #1259a7;
	color: #fff;
	font-size: 15px;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .title {
	cursor: pointer;
	display: inline-block;
	padding: 10px 0;
	font-weight: bold;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .text {
	font-size: 25px;
	color: black;
}

.slider .swiper-container .swiper-button-next,
.slider .swiper-container .swiper-button-prev {
	padding: 0;
	--swiper-navigation-color: black;
}

.slider .swiper-container .swiper-button-next {
	right: 0;
}

.slider .swiper-container .swiper-button-prev {
	left: 0;
}

@media(max-width:991px) {
	.slider .swiper-container .swiper-wrapper .swiper-slide {
		width: 100%;
	}
}


.content{
	text-decoration-line:none;
}

input[type=submit] {
	 border: 0;
	 padding: 0.6rem 0;
	 width: 155px;
	 border-radius: 5px;
	 background: #00397c;
	 color: #fff;
	 cursor: pointer;
	 font-family: 'Poppins', sans-serif;
	 font-size: 15px;
	 font-weight: 400;
	 transition: all 250ms ease;
}

input[type=submit]:hover {
	 transform: translateY(-3px);
	 box-shadow: 1px 10px 16px rgba(68, 104, 194, 0.18);
}

input[type=submit]:active {
	 position: relative;
	 top: 2px;
	 left: 2px;
}

.product{
	margin-top:7%;
	text-align:center;
}

.atag{
	text-decoration-line: none;
}

.proName{
	font-size:33px;
}