<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   th:fragment="order-service-detailFragment">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>order-service/detail</title>

<link href="css/order-service-detail.css" rel="stylesheet">
<link rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
   <!-- MultiStep Form -->
   <div class="container-fluid" id="grad1">
      <div class="row justify-content-center mt-0">
         <div
            class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
               <h2
                  style="font-size: 35px; font-weight: 600; margin-bottom: 25px; text-align: center; color: #212529; padding: 15px;">대출
                  상품 신청</h2>
               <p style="color: #212529">당신의 꿈을 순서대로 채워주세요</p>
               <div class="row">
                  <div class="col-md-12 mx-0">
                     <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                           <li class="active" id="account"><strong>대출 상품 설명</strong>
                           </li>
                           <li id="personal"><strong>약관동의</strong></li>
                           <li id="payment"><strong>신청 정보 입력</strong></li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                           <div class="form-card">
                              <h2 class="fs-title">상품명</h2>
                              <p th:text="${productList.proName}"></p>
                              <hr>
                              <h2 class="fs-title">대출 상품 설명</h2>
                              <p th:text="${productList.detail}"></p>
                              <hr>
                              <h2 class="fs-title">신청자격</h2>
                              <p th:text="${productList.need}"></p>
                              <hr>
                           </div>
                           <input type="button" name="next" class="next action-button"
                              value="Next Step" />
                        </fieldset>
                        <fieldset>
                           <div class="form-card">
                              <h2 class="fs-title">약관설명</h2>
                              <p>약관의 규제에 관한 법률 ( 약칭: 약관법 )<br>
[시행 2021. 12. 30.] [법률 제17799호, 2020. 12. 29., 타법개정]<br>
공정거래위원회(약관심사과), 044-200-4455<br>
<br>
       제1장 총칙 <개정 2010. 3. 22.>
<br>
조문체계도버튼연혁<br>
 제1조(목적) 이 법은 사업자가 그 거래상의 지위를 남용하여 불공정한 내용의 약관(約款)을 작성하여 거래에 사용하는 것을 방지하고 불공정한 내용의 약관을 규제함으로써 건전한 거래질서를 확립하고, 이를 통하여 소비자를 보호하고 국민생활을 균형 있게 향상시키는 것을 목적으로 한다.
<br>
[전문개정 2010. 3. 22.]
<br><br>
조문체계도버튼연혁
 <br>제2조(정의) 이 법에서 사용하는 용어의 정의는 다음과 같다.
<br>
1. “약관”이란 그 명칭이나 형태 또는 범위에 상관없이 계약의 한쪽 당사자가 여러 명의 상대방과 계약을 체결하기 위하여 일정한 형식으로 미리 마련한 계약의 내용을 말한다.
<br>
2. “사업자”란 계약의 한쪽 당사자로서 상대 당사자에게 약관을 계약의 내용으로 할 것을 제안하는 자를 말한다.
<br>
3. “고객”이란 계약의 한쪽 당사자로서 사업자로부터 약관을 계약의 내용으로 할 것을 제안받은 자를 말한다.
<br>
[전문개정 2010. 3. 22.]
<br><br>
조문체계도버튼연혁
 <br>제3조(약관의 작성 및 설명의무 등)<br> ① 사업자는 고객이 약관의 내용을 쉽게 알 수 있도록 한글로 작성하고, 표준화ㆍ체계화된 용어를 사용하며, 약관의 중요한 내용을 부호, 색채, 굵고 큰 문자 등으로 명확하게 표시하여 알아보기 쉽게 약관을 작성하여야 한다. 
<br>
② 사업자는 계약을 체결할 때에는 고객에게 약관의 내용을 계약의 종류에 따라 일반적으로 예상되는 방법으로 분명하게 밝히고, 고객이 요구할 경우 그 약관의 사본을 고객에게 내주어 고객이 약관의 내용을 알 수 있게 하여야 한다. 다만, 다음 각 호의 어느 하나에 해당하는 업종의 약관에 대하여는 그러하지 아니하다.
<br>
1. 여객운송업
<br>
2. 전기ㆍ가스 및 수도사업
<br>
3. 우편업
<br>
4. 공중전화 서비스 제공 통신업
<br>
③ 사업자는 약관에 정하여져 있는 중요한 내용을 고객이 이해할 수 있도록 설명하여야 한다. 다만, 계약의 성질상 설명하는 것이 현저하게 곤란한 경우에는 그러하지 아니하다.
<br>
④ 사업자가 제2항 및 제3항을 위반하여 계약을 체결한 경우에는 해당 약관을 계약의 내용으로 주장할 수 없다.
<br>
[전문개정 2010. 3. 22.]
<br><br>
조문체계도버튼연혁
 <br>제4조(개별 약정의 우선) 약관에서 정하고 있는 사항에 관하여 사업자와 고객이 약관의 내용과 다르게 합의한 사항이 있을 때에는 그 합의 사항은 약관보다 우선한다.
<br>
[전문개정 2010. 3. 22.]
<br><br>
조문체계도버튼연혁
 <br>제5조(약관의 해석) ① 약관은 신의성실의 원칙에 따라 공정하게 해석되어야 하며 고객에 따라 다르게 해석되어서는 아니 된다.
<br>
② 약관의 뜻이 명백하지 아니한 경우에는 고객에게 유리하게 해석되어야 한다.
<br>
[전문개정 2010. 3. 22.]</p>
                           </div>
                           <input type="button" name="previous"
                              class="previous action-button-previous" value="Previous" /> <input
                              type="button" name="next" class="next action-button"
                              value="Next Step" />
                        </fieldset>
                        <fieldset>
                           <div class="form-card">
                              <h2 class="fs-title">신청정보 입력</h2>
                              <hr>
                              <div class="row">
                                 <div class="col-4">
                                    <label class="pay">대출용도</label>
                                 </div>
                                 <div class="col-6">
                                    <select class="list-dt" id="month" name="expmonth">
                                       <option value="" selected disabled>대출용도</option>
                                       <option value="가계자금">가계자금</option>
                                       <option value="사업자금">사업자금</option>
                                       <option value="주택자금">주택자금</option>
                                       <option value="경조자금">경조자금</option>
                                       <option value="생활자금">생활자금</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-4">
                                    <label class="pay">이자율</label> <input type="text"
                                       class="rate" name="holdername"
                                       th:value="${productList.rate} + '%'" readonly />
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-4">
                                    <label class="proLimit">대출한도</label> <input type="text"
                                       name="proLimit" class="proLimit"
                                       th:value="${#numbers.formatInteger(productList.proLimit,0,'COMMA')} + '만원'"
                                       readonly />
                                    <p></p>
                                 </div>

                                 <div class="col-6">
                                    <label class="orderPrice">희망금액</label> <input type="text"
                                       id="orderPrice" onkeyup="inputNumberFormat(this)"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       name="orderPrice" placeholder="희망금액을 입력하세요" />
                                 </div>
                                 <div class="col-1">
                                    <label></label>
                                    <p style="margin-left: -128%; margin-top: 20%;">만원</p>
                                 </div>
                                 <div class="col-4">
                                    <label class="term">대출 최대 기간</label> <input type="text"
                                       name="term" th:value="${productList.term} +'개월'" readonly />
                                 </div>

                                 <div class="col-6">
                                    <label class="period">희망기간</label> <input type="text"
                                       id="period" class="period"
                                       onkeyup="inputNumberFormat(this)"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       name="period" placeholder="희망 기간을 입력하세요" />
                                 </div>
                                 <div class="col-1">
                                    <label></label>
                                    <p style="margin-left: -128%; margin-top: 20%;">개월</p>
                                 </div>
                                 <input type="hidden" id="proNo"
                                    th:value="${productList.proNo}"> <input
                                    type="hidden" id="userId" name="userId"
                                    th:value="${list.preferred_username}">
                              </div>

                           </div>
                           <input type="button" name="previous"
                              class="previous action-button-previous" value="Previous" /> <input
                              type="button" name="make_payment" class="action-button"
                              value="Confirm"
                              onclick="javascript:saveOrder();" />
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript">
      function inputNumberFormat(obj) {
           obj.value = comma(uncomma(obj.value));
       }
   
       function comma(str) {
           str = String(str);
           return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
       }
   
       function uncomma(str) {
           str = String(str);
           return str.replace(/[^\d]+/g, '');
       }
       function removeComma(str)
         {
            n = parseInt(str.replace(/,/g,""));
            return n;
         }
      
      //대출금액 초과 신청시.
      $('#orderPrice').focusout(function() {
         var orderPrice = parseInt($('input[name=orderPrice]').val().replace(/,/g,''));
         var proLimit = parseInt($('input[name=proLimit]').val().replace(/,/g,''));

         if (proLimit < orderPrice) {
            alert("제한 금액보다 큽니다. 다시 입력해 주세요.");
         }
      })

      //대출기간 초과
      $('#period').focusout(function() {
         var period = Number($('input[name=period]').val());
         var term = parseInt($('input[name=term]').val());

         if (term < period) {
            alert("대출기간을 초과했습니다. 다시 입력해 주세요.");
         }
      })

      function saveOrder() {
         var rate = parseFloat($('.rate').val()).toFixed(1);   //이자율 구하기
         console.log(typeof(parseFloat(rate)));
         var purpose = document.getElementById("month");
         purpose = purpose.options[purpose.selectedIndex].value;  //대출 용도 값 구하기
         var orderPrice = isNaN(parseInt($('#orderPrice').val().replace(/,/g,'')))? "": parseInt($('#orderPrice').val().replace(/,/g,''));   //희망 금액 구하기
         var period =    isNaN(parseInt($('#period').val()))? "" : parseInt($('#period').val()); //희망 기간 값 구하기
         var proNo = $('#proNo').val();   //상품 번호 구하기
         var orderDate = new Date();
         var userId = $('#userId').val(); //userId 구하기
         
         if(purpose == ""){
            alert("대출용도를 선택해주세요.");
            return false;
         }else if(orderPrice == ""){
            alert("희망금액을 입력해주세요");
            return false;
         }else if(period == ""){
            alert("희망기간을 입력해주세요");
            return false;
         }
         
         var cal = period/12;
         var ss = period%12;
         
         var amount = orderPrice * (1+(rate/100)) / period;
         
         var year = orderDate.getFullYear() + Math.floor(cal);
         var month = orderDate.getMonth() + 1 + ss;
         if(month > 12){
            month= month%12;
            year = year+1;
         }
         var date = orderDate.getDate();
         var endDate = new Date(year, month - 1, date);
         
         var t1 = document.getElementById('period');
         var t2 = document.getElementById('orderPrice');
         if(t1.value == '' || t2.value==''){
            return false;
         }
         
         var arr = {
               "proNo" : proNo,
               "userId" : userId,
               "orderPrice" : orderPrice,
               "purpose":purpose,
               "period": period,
               "amount" : amount,
               "endDate" : endDate
         }
         console.log(arr);
         
         $.ajax({
            anyne : true,
            type : 'POST',
            url : '/order/save',
            data : JSON.stringify(arr),
            dataType : "text",
            contentType : 'application/json',
            success : function(data) {
               
            },
            error : function(xhr, status, error) {
               alert(error);
            }
         });
         
         var userId = $('#userId').val(); //userId 구하기
         
         var arr = {
            "userId" : userId
         };
         
         $.ajax({
            anyne : true,
            type : 'POST',
            url : '/order/kafka',
            data : JSON.stringify(arr),
            dataType : "text",
            contentType : 'application/json',
            success : function(data) {
               location.href = "/confirm/check"
            },
            error : function(xhr, status, error) {
               alert(error);
            }
         })
      }
      
      function SendMessage(){
         var userId = $('#userId').val(); //userId 구하기
         
         var arr = {
            "userId" : userId
         };
         
         $.ajax({
            anyne : true,
            type : 'POST',
            url : '/order/kafka',
            data : JSON.stringify(arr),
            dataType : "text",
            contentType : 'application/json',
            success : function(data) {
               location.href = "/confirm/check"
            },
            error : function(xhr, status, error) {
               alert(error);
            }
         })
      }
   </script>
   <script type="text/javascript" src="js/order-service-detail.js"></script>
</body>

</html>