<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="footerFragment">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="css/boot_min.css" />
<link rel="stylesheet" href="css/headerfooter.css" />
</head>
<body>
	<!-- 푸터 -->
	<footer id="sticky-footer"
		class="footer flex-shrink-0 py-4 text-white-50"
		style="background-color: #005B9F; margin-top : -8%;">
		<div class="container text-center">
			<p class="text-light" style="margin-top: 1%; font-size: 25px;">@2022
				드림시큐리티 & 비트교육센터 Final Project!</p>
			<p class="text-light" style="margin-top: 1%; font-size: 25px;">권희수
				김종백 박준호 박현민</p>
		</div>
	</footer>
	<!-- 푸터 끝 -->
</body>
</html>