<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="contentFragment">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Content</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.css" rel="stylesheet">
<scrip src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>
<link href="css/productList.css" rel="stylesheet">
</head>
<body>
<body>
	<div sec:authorize="hasRole('USER')" class="slider">
		<div class="header">
			<div class="title">상품 목록</div>
		</div>
		<div class="swiper-container wrapper">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="product, i:${product}">
					<div class="product">
						<form name="mainForm" id="mainForm" method="post">
							<a onclick="kafkaSendMsg(this);" class="atag">
								<div class="tag">
									<span
										th:text="'한도 금액 : '+${#numbers.formatInteger(product.proLimit, 3, 'COMMA')} + '만원'"></span>
								</div>
								<div class="title">
									<span class="proName" th:text="${product.proName}"></span>
								</div>
								<div class="text" th:text="'이자율 : ' + ${product.rate} + '%'"></div>
								<div class="text">
									<span th:text="'기간 : '+${product.term}+'개월'"></span>
								</div> <input type="hidden" class="proNo"
								th:attr="name='proNo'+${i.index}" th:value="${product.proNo}">
							</a>
						</form>
					</div>
				</div>
			</div>
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>
		</div>
		<hr style="margin-top:55px;" class="cal-form">
	</div>
	
	<script src="js/productList.js"></script>
	<script>
		function kafkaSendMsg(e) {
			var proNo = $(e).parent().find('.proNo').val();

			var arr = {
				"proNo" : proNo
			};
			console.log(arr);

			$.ajax({
				anyne : true,
				type : 'POST',
				url : '/main/kafka',
				data : JSON.stringify(arr),
				dataType : "text",
				contentType : 'application/json',
				success : function(data) {
					location.href = "/order/detail"
					return true;
				},
				error : function(xhr, status, error) {
					alert(error);
				}
			});
		}
	</script>
</body>
</body>

</html>