<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status-detail-service</title>
    <link rel="stylesheet" href="css/status-detail.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

</head>

<body>
	<html th:replace="header::headerFragment"></html>
    <div class="wrapper rounded bg-white">
        <div class="h3">대출 심사 <span class="desc"
						th:text="${list.preferred_username} + '님 심사 부탁드립니다.'"></span></div>
        <div class="form">
        	
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>상품명</label>
                    <input class="form-control" th:value="${orderVO.proName}" required readonly>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>고객명</label>
                    <input class="form-control" th:value="${orderVO.userId}" required readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>대출 금액</label>
                    <input type="readonly" class="form-control" th:value="${#numbers.formatInteger(orderVO.orderPrice,3,'COMMA')}+'만원'" required readonly>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>대출 용도</label>
                    <input class="form-control" value="주택 자금 마련" required readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>신청날짜</label>
                    <input class="form-control" th:value="${orderVO.orderDate}" required readonly>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>이자</label>
                    <input class="form-control" th:value="${orderVO.rate}" required readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>만기날짜</label>
                    <input class="form-control" th:value="${orderVO.endDate}" required readonly>
                </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>월 납부액</label>
                    <input class="form-control" value="500,000원" required readonly>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-6 mt-md-0 mt-3"> <label>대출기간</label> <input type="date" class="form-control" required> </div> -->
                <!-- <div class="col-md-6 mt-md-0 mt-3"> <label>Gender</label>
                    <div class="d-flex align-items-center mt-2"> <label class="option"> <input type="radio" name="radio">Male <span class="checkmark"></span> </label> <label class="option ms-4"> <input type="radio" name="radio">Female <span class="checkmark"></span> </label> </div>
                </div> -->
                <div style="float: right; padding: 20px;">
	               	 <form method="POST">
	                	<input type="hidden" id="orderNo" name="orderNo" th:value="${orderVO.orderNo}">
	                    <button type="button" class="fill" onclick="approval()">승인</button>
	                    <button type="button" class="close" onclick="reject()">거절</button>
	                 </form>
                </div>
            </div>
                        <!-- <div class="btn btn-primary mt-3">등록하기</div> -->
        </div>
    </div>
    <html th:replace="footer::footerFragment"></html>
    <script th:inline="javascript">
		function approval() {
			if(confirm("승인하시겠습니까?")){
				var orderNo = $('#orderNo').val();
				
				var status = 1;
				
				var arr = {
						"orderNo" : orderNo,
						"status" : status
				};
				
				console.log(arr);
				
				$.ajax({
					anyne : true,
					type : 'POST',
					url : '/approve/change',
					data : JSON.stringify(arr),
					dataType : "text",
					contentType : 'application/json',
					success : function(data) {
							alert(orderNo+"번의 대출 심사가 승인되었습니다.")
							location.href = "/manage/wait";
					},
					error : function(xhr, status, error) {
						alert(error);
					}
				});
			}
		}
		function reject() {
			if(confirm("거절하시겠습니까?")){
				
				var orderNo = $('#orderNo').val();
				
				var status = 2;
				
				var arr = {
						"orderNo" : orderNo,
						"status" : status
				};
				
				console.log(arr);
				
				$.ajax({
					anyne : true,
					type : 'POST',
					url : '/approve/change',
					data : JSON.stringify(arr),
					dataType : "text",
					contentType : 'application/json',
					success : function(data) {
							alert(orderNo+"번의 대출 심사가 거절되었습니다.");
							location.href = "/manage/wait";
					},
					error : function(xhr, status, error) {
						alert(error);
					}
				});
			}else{
				alert("거절 취소");
			}
		};
	</script>
		<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>

</html>