<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	th:fragment="headerFragment">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="css/boot_min.css" />
<link rel="stylesheet" href="css/headerfooter.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div style="border-bottom: solid #005B9F 2px;">
			<!-- 헤더 -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a href="/main/menu"> <img
					src="img/logo.png"></a>
				<div class="container-fluid" style="height: 60px;">
					<a class="navbar-brand" href="/main/menu"
						style="color: black; font-size: 30px; font-weight: bold;">Dream
						Security</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarColor01"
						aria-controls="navbarColor01" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01"
						style="font-size: 20px; margin-top: 0.5%">
						<ul class="navbar-nav me-auto">
							<li class="nav-item dropdown"><a
								class="header-link pl-0 dropdown-toggle" href="#"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="far fa-heart"></i> <span
									class="d-none d-md-inline">시연</span>
							</a> <span class="caret"></span>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="/token">AccessToken</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item"
										href="/actuator/health/circuitBreakers">CircuitBreaker</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="http://localhost:8761/">Eureka</a>
								</div></li>
						</ul>
						<!-- 가운데 test 글짜.. 위치만 지정해두고 주석해버리기... -->
						<ul class="navbar-nav me-auto" style="margin-left: -10%;">
							<a sec:authorize="hasRole('ADMIN')">
								<li class=" nav-item" style="padding-right: 15px;"><a
									class="header-link" href="/product/list">상품
										목록</a></li>
								<li class=" nav-item" style="padding-right: 15px;"><a
									class="header-link" href="/product/register">상품
										등록</a></li>
							</a>
							<a sec:authorize="hasRole('USER')">
								<li class=" nav-item" style="padding-right: 15px;"><a
									class="header-link" href="/confirm/list">주문
										내역</a></li>
							</a>
							<a sec:authorize="hasRole('MANAGER')">
								<li class=" nav-item" style="padding-right: 15px;"><a
									class="header-link" href="/manage/list">주문
										목록</a></li>
							</a>
						</ul>

						<p class="text-dark" style="margin-top: 1%;"
							th:text="${list.preferred_username}+'님 환영합니다.&nbsp;'"></p>
						<form action="/logout" method="POST">
							<button class="btn btn-outline-dark my-2 my-sm-0" type="submit"
								style="margin-right: 1%; width: 90px">로그아웃</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</header>
</body>

</html>