<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="css/boot_min.css" />
<link rel="stylesheet" href="css/menu.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div style="border-bottom: solid #005B9F 2px;">
			<!-- 헤더 -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img src="img/logo.png">
				<div class="container-fluid" style="height: 60px;">
					<a class="navbar-brand" href="#"
						style="color: black; font-size: 30px; font-weight: bold;">Dream
						Security</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarColor01"
						aria-controls="navbarColor01" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01"
						style="font-size: 20px; margin-top: 0.5%">
						<ul class="navbar-nav me-auto">
							<li class="nav-item dropdown"><a
								class="nav-link pl-0 dropdown-toggle" href="#"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="far fa-heart"></i> <span
									class="d-none d-md-inline">시연</span></a> <span class="caret"></span>
								<div class="dropdown-menu">
									<a class="dropdown-item"
										href="http://localhost:8000/actuator/health/circuitBreakers">CircuitBreaker</a>
								</div></li>
						</ul>
						<button class="btn btn-outline-dark my-2 my-sm-0" type="button"
							style="margin-right: 1%" onclick="login()">로그인</button>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<script>
		//로그아웃 버튼
		function login() {
			location.href = "http://localhost:8000/menu/list";
		}
	</script>
	<!-- 헤더 끝 -->
</body>

</html>