<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dream.orderService.mapper.OrderMapper">
	<select id="bringLoan" resultType="com.dream.orderService.domain.OrderProductVO">
		select * from products where proNo = #{proNo}
	</select>
	
	<select id="getProductList" resultType="com.dream.orderService.domain.OrderProductVO">
	select * from products ;
	</select>
</mapper>